:root {
    --cream: #fffcf2;
    --beige: #ccc5b9;
    --gray: #403D39;
    --black: #252422;
    --orange: #EB5E28;
}

a {
    text-decoration: none;
    color: black;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--cream);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-bottom: auto;
    height: 772px;
    width: 100%;
}

.footer {
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: auto;
    width: 100%;
    text-align: center;
}